<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <!-- GF: Poppins- 300.400.700 -->
    <!--     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet"> -->
    <!-- FontAwesome 6 CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
        integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <!-- Bootrap v5.1 -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous'>
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>
    <div id="app"
    >

        <div class="main_wrapper">
            <div class="row g-0">
                <aside class="col-3 col-md-5 left-col">
                    <div class="my_user_section">

                        <div class="user_bar d-flex justify-content-between align-items-center">
                            <div class="user_avatar p-2 d-flex align-items-center">
                                <img class="rounded-circle me-2" src="./assets/img/avatar_1.jpg" alt="">
                                <div class="user_info">
                                    <strong>Davide</strong>
                                </div>

                            </div>
                            <div class="user_icons me-3  d-flex align-items-center justify-content-between">
                                <i class="fa-solid fa-xl fa-arrow-rotate-right "></i>
                                <i class="fa-solid fa-xl fa-message px-4"></i>
                                <i class="fa-solid fa-xl fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <!-- /user_bar -->

                        <div class="notification_bar d-flex align-items-center p-3">
                            <div class="bell p-2 rounded-circle bg-white me-2">
                                <i class="fa-solid fa-2x fa-bell-slash"></i>
                            </div>
                            <div class="notification">
                                <strong>Ricevi notifiche ai nuovi messaggi</strong>
                                <p><u>Attiva notifiche desktop</u></p>
                            </div>
                        </div>
                        <!-- /notification_bar -->

                        <div class="search_user_bar d-flex align-items-center p-2">
                            <div class="search p-2 bg-white mx-3">
                                <i class="fa-solid fa-xl fa-magnifying-glass"></i>
                            </div>
                            <div class="notification w-100">

                                <input v-model="search_user" type="text" class="form-control"
                                    placeholder="cerca o inizia una nuova chat">

                            </div>

                        </div>
                        <!-- /search_user_bar -->

                    </div>
                    <!-- top_section -->


                    <div class="users_section">

                        <div v-if="searching(contact)" v-for="(contact, index) in contacts"
                            @click="selectionChat(index)" class="user_bar"
                            :class="activeIndex === index? 'selected':''">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user_avatar p-2 d-flex align-items-start">
                                    <img class="rounded-circle me-2"
                                        :src="'./assets/img/avatar'+ contact.avatar +'.jpg'" alt="">
                                    <div class="user_info">
                                        <strong>{{contact.name}}</strong>
                                        <p>{{contact.messages[contact.messages.length - 1].date.substring(0,10)}}</p>
                                    </div>

                                </div>
                                <div class="user_icons me-3  d-flex align-items-center justify-content-between">
                                    <span
                                        class="last_message_time">{{contact.messages[contact.messages.length - 1].date.substring(11,16)}}</span>
                                </div>

                            </div>

                        </div>
                        <!-- /user_bar -->


                    </div>

                </aside>
                <!-- /aside .left-col -->
                <main class="col col-md-7 right-col">

                    <div class="user_bar d-flex justify-content-between align-items-center">
                        <div class="user_avatar p-2 d-flex align-items-center">
                            <img class="rounded-circle me-2"
                                :src="'./assets/img/avatar'+ contacts[activeIndex].avatar +'.jpg'" alt="">
                            <div class="user_info">
                                <strong>{{contacts[activeIndex].name}}</strong>
                                <p>Ultimo accesso oggi alle 12:00</p>
                            </div>

                        </div>
                        <div class="user_icons me-3  d-flex align-items-center justify-content-between">
                            <i class="fa-solid fa-xl fa-magnifying-glass "></i>
                            <i class="fa-solid fa-xl fa-paperclip px-4"></i>
                            <i class="fa-solid fa-xl fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /user_bar -->

                    <div class="texting_area">

                        <div class="messages_wrapper" v-for="(message, i) in contacts[activeIndex].messages">

                            <div class="d-flex message_box" v-if="message.status === 'received'">

                                <div class="my_message bg-white d-flex justify-content-between ">
                                    <div>
                                        {{contacts[activeIndex].messages[i].message}}

                                    </div>
                                    <div class="position-relative">
                                        <i @click="dropDownMenu(i)" class="ps-2 fa-solid fa-angle-down "></i>
                                        <div class="data text-end">
                                            <small>{{contacts[activeIndex].messages[i].date.substring(11,16)}}</small>
                                        </div>
                                        <div v-if="selectedIndex === i" class="text_menu position-absolute">
                                            <p>Info Messaggio</p>
                                            <p @click="deleteMessage(i,activeIndex)">Elimina messaggio</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Messages-recieved (white) -->


                            <div class="d-flex justify-content-end message_box" @click="!menu_visible" v-else>

                                <div class="my_message text-start  d-flex justify-content-between">
                                    <div>
                                        {{contacts[activeIndex].messages[i].message}}

                                    </div>
                                    <div class="position-relative">
                                        <i @click="dropDownMenu(i)" class="ps-2 fa-solid fa-angle-down "></i>
                                        <div class="data text-end">
                                            <small>{{contacts[activeIndex].messages[i].date.substring(11,16)}}</small>
                                        </div>
                                        <div v-if="selectedIndex === i" class="text_menu position-absolute">
                                            <p>Info Messaggio</p>
                                            <p @click="deleteMessage(i,activeIndex)">Elimina messaggio</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- /Messages-sent -->
                            <!-- 
                            <div class="drop_down_menu" v-if="menu_visible">
                                <div class="position-relative">
                                    <p>Info Messaggio</p>
                                    <p @click="deleteMessage(i,activeIndex)">Elimina messaggio</p>
                                    <i @click="resetMenu" class="fa-solid fa-circle-xmark fa-xl cross"></i>
                                </div>

                            </div> -->



                        </div>


                    </div>
                    <!-- /.texting_area -->

                    <div class="user_bar texting_bar d-flex justify-content-center align-items-center p-3">

                        <i class="icon d-none d-sm-block fa-regular fa-xl fa-face-grin m-3"></i>
                        <input v-on:keyup.enter="sendNewMessage(activeIndex)" v-model="newMessage.message" type="text"
                            class="form-control mx-3" name="" id="" aria-describedby="helpId" placeholder="">
                        <i class="icon fa-solid fa-xl fa-microphone m-3"></i>
                    </div>
                    <!-- /.texting_bar -->
                </main>
                <!-- /main .right-col -->
            </div>
        </div>

    </div>



    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/js/app.js"></script>
</body>

</html>