* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: smaller;
    background-image: linear-gradient(to bottom,#009688 0px,#009688 140px, #dddbd1 140px,#d2dbdc 100%);

}

img {
    max-width: 100%
}

p {
    margin-bottom: 0;
}

#{
    
}

/* Common */
.user_bar {
    height: 60px;
}

.user_bar i {
    color: #b6babc;
}

.data,
.last_message_time,
.user_info p {
    color: #b6babc;
}

.my_user_section .search_user_bar {
    color: #b6babc;
    height: 50px;
}

/* Main Wrapper */


.main_wrapper {
    background-color: white;
    height: 95vh;
    width: 80%;
    margin: 2.5vh auto;
}

.main_wrapper .user_bar {
    background-color: #eaeaea;
}

.main_wrapper .user_bar .user_avatar img {
    width: 50px;
}

/* left col */

.my_user_section .notification_bar {
    background-color: #8edafc;
    height: 80px;
}

.my_user_section .notification_bar i {
    color: #8edafc;
}


.my_user_section .search_user_bar input {
    border: none;
    width: 100%;
}

.main_wrapper .users_section {
    overflow-y: scroll;
    max-height: calc(95vh - 190px)
}

/* Users Section */

.users_section .user_bar {
    height: 80px;
}

.users_section .user_bar .user_avatar img {
    width: 60px;
}

.users_section .user_bar {
    background-color: #ffffff;
}

.users_section .user_bar:hover {
    background-color: #f3f3f3;
}


.users_section strong {
    font-size: 1rem;
}

.users_section .selected {
    background-color: #e9ebeb;
}

/* Right col */

.texting_area {
    background-image: url('../img/mine.jpg');
    height: calc(95vh - 120px);
    padding: 2rem 3rem;
    overflow-y: scroll;
    position: relative;

}

.texting_area .messages_wrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
}


.texting_area .texting_area p {
    color: black;
}

.texting_area .user_message,
.my_message {
    background-color: #d5f9ba;
    padding: 0.7rem 1rem 1.2rem;
    border-radius: 10px;
    min-width: 40%;
    position: relative;
}


.texting_area .data {
    position: absolute;
    bottom: 0-2px;
    right: 0.2rem;
}

.texting_bar i {
    color: #6d7476;
}

.drop_down_menu {
    width: 200px;
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.cross {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%); 
    
}

/* Media Query */

@media screen and (max-width: 768px){
    

.notification,
.user_info,
.user_icons{
    display: none!important;
}

.texting_area{
    padding: 0.5rem 0;
}


}