* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    background-color: #c6c6c6;
    
}

img {
    max-width: 100%
}

p{
    margin-bottom: 0;
}

/* Common */
.user_bar{
    height: 60px;
}

.user_bar i{
    color: #b6babc;
}

.main_wrapper{
    background-color: white;
    height: 95vh ;
    width: 80%;
    margin: 2.5vh auto ;
}

.main_wrapper .user_bar{
    background-color: #eaeaea;
}

.main_wrapper .user_bar .user_avatar img{
    width: 50px;
}

/* left col */

.my_user_section .notification_bar{
    background-color: #8edafc;
    height: 80px;
}

.my_user_section .notification_bar i{
    color: #8edafc;   
}

.my_user_section .search_user_bar{
    color: #b6babc; 
    height: 50px;  
}

.my_user_section .search_user_bar input{
    border: none;
    width: 100%;   
}

.main_wrapper .users_section{
    overflow-y: auto;
    max-height: calc(95vh - 200px)
}

/* Users Section */

.users_section .user_bar{
    height: 80px;
}

.users_section .user_bar .user_avatar img{
    width: 70px;
}

.users_section .user_bar{
    background-color: #ffffff;
}

.users_section strong{
    font-size: 1rem;
}

/* Right col */

.texting_area{
    background-image: url('../img/mine.jpg');
    height: calc(95vh - 60px);
    padding: 2rem 3rem;
}

.texting_area .user_message, .my_message{
    background-color:#d5f9ba;
    padding: 1rem 0.4rem 0rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}


.texting_area .my_message{
    margin-right: 5rem;
}


.texting_area .user_message{
    margin-left: 5rem;
}

    


